# Project exclude paths
/node_modules/
/node_modules/@types/debug/LICENSE
/node_modules/@types/debug/README.md
/node_modules/@types/ms/LICENSE
/node_modules/@types/ms/README.md
/node_modules/@types/node/LICENSE
/node_modules/@types/node/README.md
/node_modules/@types/node/test/
/node_modules/@types/validator/LICENSE
/node_modules/@types/validator/README.md
/node_modules/bcrypt/
/node_modules/dotenv/
/node_modules/express/LICENSE
/node_modules/express/Readme.md
/node_modules/jsonwebtoken/LICENSE
/node_modules/jsonwebtoken/README.md
/node_modules/moment/
/node_modules/moment-timezone/
/node_modules/pg/LICENSE
/node_modules/pg/README.md
/node_modules/pg-connection-string/
/node_modules/pg-hstore/
/node_modules/retry-as-promised/
/node_modules/retry-as-promised/dist/index.js
/node_modules/sequelize/
/node_modules/sequelize-pool/
/node_modules/undici-types/LICENSE
/node_modules/undici-types/README.md
/node_modules/wkx/